<a href="https://colab.research.google.com/github/dinaseem/Advanced-Python/blob/main/ICTfeb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello world")

Hello world

In [ ]:
print("hello","how are your?")

hello how are your?

In [ ]:
print("heoolo","how are you,sep=",")

SyntaxError: unterminated string literal (detected at line 1) (ipython-input-1878577581.py, line 1)

In [ ]:
print("hello",end="\n")

hello

In [ ]:
name="dina"
age=22

print(type(name),type(age))

<class 'str'> <class 'int'>

In [ ]:
print(f"My name is {name} and I am {age} years old")

My name is dina and I am 22 years old

In [ ]:
print(f"My name is {name} and I am {age} years old")
print(f"My name is name and I am years old")

My name is dina and I am 22 years old
My name is name and I am years old

In [ ]:
name = input ("Enter your name")

Enter your namedina

In [ ]:
name = input("Enter your name")
adm_no = input("Enter your adm_no")
address= input("enter your address")
DOB = input("Enter your DOB")
phone = input("Enter your phone")
print(name)
print(f"adm.no.:{adm_no}")
print(f"address.:{address}")
print(f"DOB.:{DOB}")
print(f"phone.:{phone}")

Enter your namedina
Enter your adm_noect23004
enter your addressashik manzil
Enter your DOB31-08-2004
Enter your phone7736814120
dina
adm.no.:ect23004
address.:ashik manzil
DOB.:31-08-2004
phone.:7736814120

In [ ]:
first_name ="John"
last_name= "Georage"
full_name= first_name + " "+last_name
print(full_name)

John Georage

In [ ]:
news= "Bengaluru Police Inspector Arrested By Lokayukta For Taking 4 Lakh Bribe  Karnataka"
print(len(news))

83

In [ ]:
news[0]

'B'

In [ ]:
news[-1]

'a'

In [ ]:
news

'Bengaluru Police Inspector Arrested By Lokayukta For Taking 4 Lakh Bribe  Karnataka'

In [ ]:
news[15:]

'e Inspector Arrested By Lokayukta For Taking 4 Lakh Bribe  Karnataka'

In [ ]:
news[15:]

'e Inspector Arrested By Lokayukta For Taking 4 Lakh Bribe  Karnataka'

In [ ]:
news="Bengaluru Police Inspector Arrested By Lokayukta For Taking 4 Lakh Bribe Karnataka.
Merger Talks Between NCP Factions Were At Adv"

SyntaxError: unterminated string literal (detected at line 1) (ipython-input-870064377.py, line 1)

In [ ]:
news="Bengaluru Police Inspector Arrested By Lokayukta For Taking 4 Lakh Bribe"
print=(len(news))

In [ ]:
news.upper()

'BENGALURU POLICE INSPECTOR ARRESTED BY LOKAYUKTA FOR TAKING 4 LAKH BRIBE'

In [ ]:
news.lower()

'bengaluru police inspector arrested by lokayukta for taking 4 lakh bribe'

In [ ]:
news.format()

'Bengaluru Police Inspector Arrested By Lokayukta For Taking 4 Lakh Bribe'

#Formats the string for printing it to console

In [ ]:
news.casefold()

'bengaluru police inspector arrested by lokayukta for taking 4 lakh bribe'

#Implements caseless string matching

In [ ]:
news.find('police')

-1

In [ ]:
news.replace('taking','collecting')

'Bengaluru Police Inspector Arrested By Lokayukta For Taking 4 Lakh Bribe'

In [ ]:
news.swapcase()

'bENGALURU pOLICE iNSPECTOR aRRESTED bY lOKAYUKTA fOR tAKING 4 lAKH bRIBE'

news.split()

In [ ]:
news.split()

['Bengaluru',
 'Police',
 'Inspector',
 'Arrested',
 'By',
 'Lokayukta',
 'For',
 'Taking',
 '4',
 'Lakh',
 'Bribe']

In [ ]:
news,translate()

NameError: name 'translate' is not defined

In [ ]:
news.count()

TypeError: count() takes at least 1 argument (0 given)

In [ ]:
# Restore the built-in print function by deleting the variable that shadowed it
if 'print' in globals():
    del print

num1 = 20
num2 = 6
print(num1 + num2)

TypeError: 'int' object is not callable

In [ ]:
num1=20
num2=6
print(num1 + num2)

TypeError: 'int' object is not callable

In [ ]:
news

'Bengaluru Police Inspector Arrested By Lokayukta For Taking 4 Lakh Bribe'

In [ ]:
print("Police" in news)

TypeError: 'int' object is not callable

In [ ]:
sal=int(input("enter your salary"))
exp=int(input("enter your expense"))
sav=sal-exp
print(f"your salary is{sal}")
print(f"your expense is{exp}")
print(f"your savings is{sav}")

enter your salary50000
enter your expense45000

TypeError: 'int' object is not callable

In [ ]:
num1=20
num2=6
print(num1+num2)

TypeError: 'int' object is not callable

In [ ]:
num1=98
num2=76
print=int(num1+num2)

In [ ]:
contact1={
    "dina":9876543218,
    "fathima":787787878,
    "bismi":2434343434,
    "mubarak":454545454,
    "azeem":989898989,
}
contact1

{'dina': 9876543218,
 'fathima': 787787878,
 'bismi': 2434343434,
 'mubarak': 454545454,
 'azeem': 989898989}

In [ ]:
contact1.values()

dict_values([9876543218, 787787878, 2434343434, 454545454, 989898989])

In [ ]:
contact1.keys()

dict_keys(['dina', 'fathima', 'bismi', 'mubarak', 'azeem'])

In [ ]:
contact1.clear()

In [ ]:
emp1={"name":"raju",
      "salalry":12343,
      "dept":"hr"}
emp2={"name":"manu",
      "salary":21222,
       "dept":"MD"}
emp3={"name":"dina",
      "salary":211221,
      "dept":"finance"}



employees={
"employee1":emp1
"employee2":emp2
"employee3":emp3
}

SyntaxError: invalid syntax (ipython-input-2303649942.py, line 15)

In [ ]:
contact1['fathima']=343422166
contact1

{'dina': 9876543218,
 'fathima': 343422166,
 'bismi': 2434343434,
 'mubarak': 454545454,
 'azeem': 989898989}

In [ ]:
contact1.pop('dina')
contact1

{'fathima': 343422166,
 'bismi': 2434343434,
 'mubarak': 454545454,
 'azeem': 989898989}

In [ ]:
contact1.=update("suma"=4454554989)
contact1

SyntaxError: invalid syntax (ipython-input-2074663499.py, line 1)

In [ ]:
movies=["avatar","monwy mist","bahubali"]
rating=[9.0,2.9,8.0]

movie_rating=dict(zip(movies,rating))
movie_rating

{'avatar': 9.0, 'monwy mist': 2.9, 'bahubali': 8.0}

In [ ]:
a=10
b=20
if a>b:
   print("a is greater")
else:
   print("b is grearer")

b is grearer

In [ ]:
a=10
b=2
if a>b:
  print("a is greater")
elif a==b:
  print("a&b are equal")
else:
  print("b is greater")

a is greater

In [ ]:
a=int(input("enter yoour score\n score"))
if (a>90):
  print("the grade  is A")
elif (a>80):
  print("the grade is B ")
elif(a>70):
  print("the garde is C")
elif(a>60):
 print("the grade is D")
else:
  print("the grade is F")

enter yoour score
 score67
the grade is D

In [ ]:
# Restore print if it was shadowed by an integer in previous cells
if 'print' in globals() and not callable(print):
    del print

a = input("enter your condition of climate\n weather=")
if (a == "sunny"):
  print("the grade is sunny")
elif (a == "cloudy"):
  print("the climate is cloudy ")
elif (a == "warm"):
  print("the climate is warm")
elif (a == "rainy"):
  print("the climate is rainy ")
else:
  print("the climate is unknown ")

enter your condition of climate
 weather=rainy
the climate is rainy

In [ ]:
age = 20
education = "higher secondary"
if age > 18:
  if education == "higher secondary":
    print("you eligible for college")
  else:
    print("you are not eligible for higher college, but condition with higher education")
else:
  print("you are not eligible for college")

you eligible for college

In [ ]:
x=10
if x>5:
    print("greater")
else:
    print("smaller")

greater

In [ ]:
print("greater") if x>5 else print("smaller")

greater

In [ ]:
mark=45
result="pass" if mark>30 else"fail"
if result=="pass":
  print("awarded with a grade")
else:
    print("no award")

awarded with a grade

In [ ]:
temp=42
weather=["status":"hot",if temp>40 else"cold"
print(weather)

SyntaxError: invalid syntax (ipython-input-1198846355.py, line 2)

In [ ]:
print("apple:350\n bingo:54\n orange:30\n pen:34\n pencil:90\n")
a = [38,54,30,34,90]
t = sum (a)
print (t)
print( a)
if(t >= 2000):
  dis (t/100) *20
  f = t-dis
elif (a>=1000):
    dis  (a/100)*10
    f = a-dis
else:
    dis = 0
    f = t
print( "dis=",dis )
print ("total=",f)

apple:350
 bingo:54
 orange:30
 pen:34
 pencil:90

246
[38, 54, 30, 34, 90]

TypeError: '>=' not supported between instances of 'list' and 'int'

In [ ]:
a = [38, 54, 30, 34, 90]
t = sum(a)
print(t)
print(a)

if t >= 2000:
    dis = (t / 100) * 20
    f = t - dis
elif t >= 1000:
    dis = (t / 100) * 10
    f = t - dis
else:
    dis = 0
    f = t

print("dis =", dis)
print("total =", f)

246
[38, 54, 30, 34, 90]
dis = 0
total = 246

In [ ]:
f=["apple","orange","banana"]
for fr in f:
  print(fr)

apple
orange
banana

In [ ]:
for i in range(10):
  print(f" square of (i) is {1**2}")

 square of (i) is 1
 square of (i) is 1
 square of (i) is 1
 square of (i) is 1
 square of (i) is 1
 square of (i) is 1
 square of (i) is 1
 square of (i) is 1
 square of (i) is 1
 square of (i) is 1

In [ ]:
grocery_list=["apple","banana","milk","bread","eggs"]
grocery_list

['apple', 'banana', 'milk', 'bread', 'eggs']

In [ ]:
for i in grocery_list:
  if i=="eggs":
    print("eggs found")
  else:
    print("eggs not found")

eggs not found
eggs not found
eggs not found
eggs not found
eggs found

In [ ]:
for i in grocery_list:
  if i=="eggs":
    print("eggs found")
    break
  else:
    print("eggs not found")

eggs not found
eggs not found
eggs not found
eggs not found
eggs found

In [ ]:
for i in grocery_list:
  if i=="eggs":
    print("eggs found")
    break
  else:
   if i=="banana":
      continue
  print("eggs not found")

eggs not found
eggs not found
eggs not found
eggs found

In [ ]:
saving=[2000,2500,0,3000,1000,5000]
for i in saving:
  if i==0:
    continue
  print(i)
if i>4000:
  print(f"4000<{i}")
print(f"total saving is {t}")
tuple(saving)

2000
2500
3000
1000
5000
4000<5000
total saving is 13500

(2000, 2500, 0, 3000, 1000, 5000)

In [ ]:
set(saving)

{0, 1000, 2000, 2500, 3000, 5000}

In [ ]:
list(saving)

[2000, 2500, 0, 3000, 1000, 5000]

In [ ]:
numbers=["7736814120","9744955747","9633638283","6363336","96363636","9207547249"]
for i in numbers:
    if len(i)==10:
      print(f"{i}valid")
    else:
        print(f"{i}invalid")
        invalid_count+=1

7736814120valid
9744955747valid
9633638283valid
6363336invalid

NameError: name 'invalid_count' is not defined

In [ ]:
numbers"7736814120","9744955747","9633638283","6363336","96363636","9207547249"]
invalid_count=0
valid_count=0
valid_nums=set()
for num in numbers:
  if len(num)!=10:
    print("invalid")
    invalid_count+=1
    continue
    else:
      print("valid")
      valid_count+=1
      valid_nums.add(num)

    print(f"total invalid count is{invalid_count} and valid is {valid_count"}
    print(valid_nums)

SyntaxError: unmatched ']' (ipython-input-3726245400.py, line 1)

In [ ]:
print(9)

9

In [ ]:
a=3
b=4
c=5
if a>b:
  print("a is largest")
elif b>c:
  print("b is largest")
else:
  print("c is largest")

c is largest

In [ ]:
for number in range (100,800):
  if number%3==0 and number%7==0:
    print(number)

105
126
147
168
189
210
231
252
273
294
315
336
357
378
399
420
441
462
483
504
525
546
567
588
609
630
651
672
693
714
735
756
777
798

In [ ]:
for number in range(1 , 1000):
  if number % 8 == 0:
    if len(str(number)) == 3:
    print(number)

IndentationError: expected an indented block after 'if' statement on line 3 (ipython-input-3748957445.py, line 4)

In [ ]:
count = 0

for number in range(1, 1001):
    if number % 8 == 0:
        count += 1

print(count)

125

In [ ]:
for i in range(1,6):
 print("*" *i)

*
**
***
****
*****

In [ ]:
for i in range(1,6):
  if i%2==0:
    print(i,"even")
  else:
      print(i,"-odd")

1 -odd
2 even
3 -odd
4 even
5 -odd

In [ ]:
num = int(input("enter an integer:"))
total_sum = 0
# Store the original number if you need it later, or work directly with num
while num > 0:
    digit = num % 10
    total_sum = total_sum + digit
    num = num // 10
print("sum of digits =", total_sum)

enter an integer:12
sum of digits = 3

In [ ]:
sentence = input("enter a sentence:").lower()
vowels = "aeiou"
vowel_count=0
consonant_count=0

for char in sentence:
  if char.isalpha():
    if char in vowels:
      vowel_count +=1
    else:
        consonant_count +=1

print("vowels:",vowel_count)
print("consonants:",consonant_count)

enter a sentence:my dog has blue eyes
vowels: 6
consonants: 10

In [ ]:
def factorial(n):
  fact=1
  for i in range(1,n+1):
    fact*=i
  return fact

num=int(input("enter a non-negative integer:"))
print("factorial:",factorial(num))

enter a non-negative integer:98
factorial: 9426890448883247745626185743057242473809693764078951663494238777294707070023223798882976159207729119823605850588608460429412647567360000000000000000000000

In [ ]:
list1=list(map(int,input("enter first element(space-separated numbers):").split()))
list2=list(map(int,input("enter second list element(space-separated numbers):").split()))

common = list(set(list1) & set(list2))
print("common elements:",common)

enter first element(space-separated numbers):20 30 40 50
enter second list element(space-separated numbers):80 90 68
common elements: []

In [ ]:
def mul(a,b):
  print(a*b)
  return

In [ ]:
def mul(num):
  print("num*2")

mul(10)

num*2

In [ ]:
def send_gift(recipent,gift):
  print(f"sending{gift} to {recipent}!")
send_gift("mom","flowers

In [ ]:
def send_gift(recipient,gift="a chocolate box"):
  print(f"sending {gift} to {recipient}!")
send_gift("charlie")

sending a chocolate box to charlie!

In [ ]:
def send_gift(recipient,gift="a chocolate box"):
  print(f"sending {gift} to {recipient}!")
send_gift("charlie")

sending a chocolate box to charlie!

In [80]:
#position arguuemntdef book_trip(destination,transport):
  print(f"booking {transport} to {destination}")
book_trip("paris","flight")

booking flight to paris

In [98]:
#default
def book_trip(destination,transport="paris"):
  print(f"booking  a {transport} to {destination}")
book_trip("flight","newyork")

booking  a newyork to flight

In [97]:
#keyword
def book_trip(destination,transport):
  print(f"booking a {destination} to {transport}")
book_trip(transport="flight",destination="pariz")

booking a pariz to flight

In [100]:
def book_trip(destination,*items):
  print(f"trip  to  {destination} to {items}")

book_trip('paris','pen','cloth')

trip  to  paris to ('pen', 'cloth')

In [101]:
def add_numbers(a,b):
  print(a+b)

result=add_numbers(5,5)

10

In [103]:
def add_numbers(a,b):
  return a+b
  result=add_numbers(5,5)

In [105]:
def add_ten(numbers):
  print(numbers+10)
  my_result=add_ten(5)
  final_result=my_result*2
  print(f"the final answer is"final_answer)")

SyntaxError: unterminated string literal (detected at line 5) (ipython-input-1821674624.py, line 5)

In [115]:
def add_ten(numbers):
  return number + 10
 my_result=add_ten(5)
final_result=my_result*2
print(f"the final answer is{final_answer}")

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 3)

In [5]:
def square(x):
  sq=x*x
  return sq

square(5)

25

In [6]:
square=lambda x:x*x
square(5)

25

In [7]:
addition=lambda x,y:x+y
addition(10,20)

30

In [8]:
addition=lambda x,y:x+y
print(10,20)

10 20

In [25]:
def square(x):
  sq=x*x
  return sq
numbers=[1,2,3,4,5]
squares=map(square,numbers)
list(squares)

squares=map(square,numbers)
list(squares)
#square(5)

[1, 4, 9, 16, 25]

In [42]:
# Restore the built-in 'map' and 'list' functions if they were shadowed by variables
if 'map' in globals():
    del map
if 'list' in globals():
    del list

numbers = [1, 2, 3, 4, 5]
# Now map and list will refer to the built-in Python functions
result = list(map(lambda x: x*x, numbers))
print(result)

[1, 4, 9, 16, 25]

In [41]:
# Restore built-in functions if they were shadowed by variables
for func_name in ['map', 'list', 'print']:
    if func_name in globals() and not callable(globals()[func_name]):
        del globals()[func_name]

list_a = [1, 2, 3]
list_b = [4, 5, 6]
# Now map and list refer to the built-in functions
sum_list = list(map(lambda x, y: x + y, list_a, list_b))
print(sum_list)

TypeError: 'map' object is not callable

In [47]:
numbers=[-1,-2,3,2,4,5]
positive_numbers=list(filter(lambda x:x>0,numbers))
print(positive_numbers)
negative_numbers=list(filter(lambda x:x<0,numbers))
print(negative_numbers)

[3, 2, 4, 5]
[-1, -2]